/*  Styling  */
body {

    background: none

}






/*  Header  */

.masthead {
    padding: 1em 0;
    background-color: #002254;
}

@media screen and (min-width: 25em) {
    .site-header {
        -js-display: flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.site-title {
    font-size: 1.4em;
}

.site-title a {
    -js-display: flex;
    display: flex;
    align-items: baseline;
    margin: 0;
    font-weight: 400;
    text-align: center;
    color: white;
}

.site-branding a:focus,
.site-branding a:hover {
    text-decoration: underline white;
}

.site-branding {
    margin-right: 1em;
}

.site-branding a {
    text-decoration: none;
}

/*  Footer  */









/*  Typography  */







/*  Accessibility  */
/*  aka Text for Screen Readers  */







/*  Layouts  */





