/*  Styling  */
body {

    background: none

}






/*  Header  */

.masthead {
    padding: 1em 0;
    background-color: #002254;
}






/*  Footer  */









/*  Typography  */







/*  Accessibility  */
/*  aka Text for Screen Readers  */







/*  Layouts  */





